---
layout: bootcamp
root: .
venue: Glasgow University
address: Room 320, Kelvin Building
country: United-Kingdom
humandate: Dec 12-13, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-12-12
enddate: 2013-12-13
latlng: 55.87185,-4.29155
registration: restricted
instructor: ["Ben Morris", "James Morrison"]
contact: admin-uk@software-carpentry.org
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
<hr/>

<p>Timetable:

Day 1:

8:30-9:00 setup, help with installation
9:00-9:30 introduction, etc. (Ben)
9:30-10:30 Shell I (James)
10:30-10:45 coffee break
10:45-12:00 Shell II (James)
12:00-1:00 lunch
1:00-2:00 Regular Expressions (Ben)
2:00-3:00 Python I (James)
3:00-3:15 coffee break
3:15-4:00 Python II (James)
4:00-5:00 Classes & Objects (Ben)


Day 2:

8:30-9:00 questions/problems from day 1
9:00-10:30 Version Control I (Ben)
10:30-10:45 coffee break
10:45-12:00 Version Control II (Ben)
12:00-1:00 lunch
1:00-3:00 Testing (James)
3:00-3:15 coffee break
3:15-4:30 Make (Ben)
4:30-5:00 wrapup (James)
</p>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>

<h2>Required Software</h2>

<p>In order to take part in the bootcamp, please set up this software <em>before</em> you arrive.</p>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-editor.html %}
    {% include setup/windows-editor.html %}
    {% include setup/macosx-editor.html %}
    {% include setup/linux-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/windows-bash.html %}
    {% include setup/macosx-bash.html %}
    {% include setup/linux-bash.html %}
  </div>
</div>
<hr/>
<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-python.html %}
    {% include setup/linux-python.html %}
    {% include setup/macosx-python.html %}
    {% include setup/windows-python.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/linux-git.html %}
    {% include setup/macosx-git.html %}
    {% include setup/windows-git.html %}
  </div>
</div>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>
